Makefile*
*/Makefile
o/*
*/o/*
*/tmp_obj/*
*/tmp_moc/*
doc/html/
*.o
*.so
*.so.*
*.a
*~
*.orig
*.rej
autom4te.cache
qrc_sonic-visualiser.cpp
sonic-visualiser
aclocal.m4
config.log
config.pri
config.status
*.app
Sonic Visualiser*
.DS_Store
*.stash
cov-int/*
*.deb
test-svcore-base
test-svcore-data-fileio
test-svcore-data-model
test-svcore-system
vamp-plugin-sdk
svcore
svgui
svapp
checker
piper
piper-vamp-cpp
dataquay
bqvec
bqfft
bqresample
bqaudioio
bqaudiostream
bqthingfactory
build/
sv-dependency-builds
icons/scalable
vamp-plugin-load-checker
piper-vamp-simple-server
piper-convert
*.msi
*.user
.vext*
.repoint*
build_win32
build_win64
build_win64_debug
build-arm64
build-x86_64
*.AppImage
*.AppDir
Dockerfile*.gen
squashfs-root
.notarization-uuid
.notarization-status
