<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Sonic Visualiser</string>
	<key>CFBundleExecutable</key>
	<string>Sonic Visualiser</string>
	<key>CFBundleIconFile</key>
	<string>sv-macicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.sonicvisualiser.SonicVisualiser</string>
  </dict>
</plist>
