name: Linux CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
    - name: deps
      run: sudo apt-get install build-essential libbz2-dev libfftw3-dev libfishsound1-dev libid3tag0-dev liblo-dev liblrdf0-dev libmad0-dev liboggz2-dev libopus-dev libopusfile-dev libpulse-dev libsamplerate-dev libsndfile-dev libsord-dev libxml2-utils portaudio19-dev qt5-default libqt5svg5-dev raptor2-utils librubberband-dev git mercurial autoconf automake libtool ninja-build mlton
    - name: capnp
      run: |
        mkdir -p tmp/capnproto
        git clone https://github.com/sandstorm-io/capnproto tmp/capnproto
        cd tmp/capnproto
        git checkout v0.6.1
        cd c++
        autoreconf -i && ./configure --enable-shared=no --enable-static=yes && make -j3 && sudo make install
    - name: meson
      run: |
        mkdir -p tmp/meson
        cd tmp/meson
        wget https://github.com/mesonbuild/meson/releases/download/0.56.0/meson-0.56.0.tar.gz
        tar xvf meson-0.56.0.tar.gz
        sudo ln -s $(pwd)/meson-0.56.0/meson.py /usr/bin/meson
    - name: repoint
      run: ./repoint install
    - name: configure
      run: meson build --buildtype release
    - name: make
      run: ninja -C build

